*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "sans-serif";
  background-color: #cccccc;
  color: #444;
}

h1,
p {
  margin: 0 0 1em 0;
}

/* make a grid */
.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 10px;
}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

.output {
}
